<h2>Busqueda avanzada</h2>
<div class="row">
	<div class="col-lg-8">
		<div class="input-group">
			<%= text_field_tag :search, '', :placeholder => "Especie", :class => "form-control" %>
			<%= text_field_tag :search, '', :placeholder => "Género", :class => "form-control" %>
			<%= text_field_tag :search, '', :placeholder => "Raza", :class => "form-control" %>
			<%= text_field_tag :search, '', :placeholder => "Tamaño", :class => "form-control" %>
		</div>
	</div>
</div>

<div class="container">
	<h2>Ellos buscan un hogar</h2>
	<div class="row">
	  	<% @pets.each do |pet| %>
			<div class="col-md-4">
				<a href="#" class="thumbnail">
					<%= image_tag "image.png", :width => "350px", :height => "200px"%>
				</a>

				<%= pet.name.titleize %>
				<p>Gata, <%= pet.age %> años, esterilizada</p>
				<a href="#" >Quiero saber mas</a>
			</div>
		<%	end %>
	</div>
</div>
</br><h3 class="text-center"><a href="#">Haz click aquí para saber de mas animalitos que buscan hogar</a></h3>
	
<div class="container">
	<h2>Ya encontraron casa!</h2>
	<div class="row">
	  <div class="col-xs-8 col-md-4">
		<% @pets.each do |pet| %>
			<div class="col-md-4">
				<a href="#" class="thumbnail">
					<%= image_tag "image.png", :width => "350px", :height => "200px"%>
				</a>

				<p><%= pet.name.titleize %>, Ya duerme en una calentita casa</p>
				<a href="#" >Conoce su historia</a>
			</div>
		<% end %>
	</div>
</div>

<div class="container">
	<h2>Ultimas Noticias</h2>
	<div class="alert alert-success">
		Facebook: Facebook: Pitilla necesita urgente un hogar, correo@correo.cl <a href="#" >Compartir</a>
	</div>
	<div class="alert alert-info">
		Twitter: Gata bebé llamada Nutella abandonada en la calle, RT porfavor. <a href="#" >Compartir</a>
	</div> 
</div>	